[submodule "third-party/rocksdb"]
	path = third-party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third-party/crc32c"]
	path = third-party/crc32c
	url = https://github.com/google/crc32c
[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/libraptorq"]
	path = third-party/libraptorq
	url = https://github.com/ton-blockchain/libRaptorQ
[submodule "crypto/ff"]
	path = crypto/ff
	url = git@github.com:nilfoundation/ff.git
[submodule "crypto/fft"]
	path = crypto/fft
	url = git@github.com:nilfoundation/fft.git
[submodule "crypto/zk"]
	path = crypto/zk
	url = git@github.com:nilfoundation/zk.git
[submodule "libs/multiprecision"]
	path = libs/multiprecision
	url = https://github.com/nilfoundation/multiprecision.git
[submodule "crypto/multiprecision"]
	path = crypto/multiprecision
	url = https://github.com/nilfoundation/crypto3-multiprecision.git
[submodule "crypto/pairing"]
	path = crypto/pairing
	url = git@github.com:nilfoundation/pairing.git
[submodule "crypto/algebra"]
	path = crypto/algebra
	url = git@github.com:nilfoundation/algebra.git
[submodule "crypto/marshalling"]
	path = crypto/marshalling
	url = https://github.com/nilfoundation/marshalling.git
[submodule "crypto/hash"]
	path = crypto/hash
	url = git@github.com:nilfoundation/crypto3-hash.git
[submodule "crypto/cipher"]
	path = crypto/cipher
	url = git@github.com:nilfoundation/crypto3-block.git
